// {{.Table.TableComment}}
type {{.Name}} struct {
	BaseModel
{{- range .Columns }}
	{{- if eq .FieldName "id" }}
	{{- else }}
		{{genNameType .}} {{genTagComment .}}
	{{- end }}
{{- end }}
}

// 数据表名为 {{.Table.TableName}}
func ({{.Name}}) TableName() string {
	return "{{.Table.TableName}}"
}

// 查询符合条件的所有行
func (m *{{.Name}}) FindAll(filters ...base.FilterFunc) (objs []{{.Name}}, err error) {
	err = db.Model(m).Scopes(filters...).Find(&objs).Error
	err = IgnoreNotFoundError(err)
	return
}

// 查询符合条件的第一行
func (m *{{.Name}}) GetFirst(filters ...base.FilterFunc) (obj *{{.Name}}, err error) {
	err = db.Model(m).Scopes(filters...).First(&obj).Error
	err = IgnoreNotFoundError(err)
	return
}
